allow registration with externalAccountBinding

I'm looking at using acmebot with the DigiCert ACME infrastructure, which requires using the externalAccountBinding mode for registration (RFC 8555 § 7.3.4), but it looks like acmebot only supports email-based account management. Are there any plans to add eAB to acmebot? If not... would you be open to a patch?

No plans to implement eAB at this time, but PRs always welcome